@import './rest.css';
.button-group {
    float: right;
    margin-top: -4px;
  }
.pagination {
    margin-top: 20px;
  text-align: right;
  padding: 10px 10px 1px 10px;
}
.el-table th,
.el-table td {
  padding: 4px 4px !important;
  font-size: 13px;
}
.el-table th {
  //text-align: center !important;
  font-size: 13px;
}
.el-table th > .cell {
  color: #666;
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 !important;
  font-size: 13px;
}
.me-button {
    color: #fff;
    background: linear-gradient(45deg, #1babe4, #a1ecf2) !important;
  }